extends layout
block content
	a.btn.btn-primary(href='/api/place' role='button') Retour
	br
	br
	br
	a.list-group-item.list-group-item-action.flex-column.align-items-start.active(href='#')
		.d-flex.w-100.justify-content-between
			h5.mb-1= place.name
		p.mb-1= place.price_by_night
		small= place.rooms
		br
		small= place.max_guests
